@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

:root{
  --branco: #fff;
  --preto1: #272727;
  --preto2: #2d2d2d;
  --preto3: #414141;
  --preto4: #1c1c1c;
  --preto5: #343434;
  --azulneon: rgba(0,128,128,1);
}


*{
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--preto1);
  color: var(--branco);
  font-family: 'Montserrat Alternates', sans-serif;
}


.imagem-logo img{
    width: 200px;
    height: auto;
}

header, .barra-navegacao {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  background-color: var(--preto2);
  box-shadow: 1px 1px 4px var(--preto4);
  height: 90px;
  justify-content: space-between;
  padding: 0 10%;
}

.barra-navegacao {
  gap: 3em;
  z-index: 2;
}

.barra-navegacao a{
  text-decoration: none;
  color: var(--azulneon);
  transition: 1s;
  font-weight: bold;
}

.botao-header {
  background-color: transparent;
  border: none;
  color: var(--branco);
  cursor: pointer;

  display: none;
}

h1 {
  text-align: center;
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 600;
  padding: 50px 0;
}

h3{
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

.conteudo p {
  text-align: center;
  padding: 10px 30%;
}

span {
  font-weight: 600;
  color: var(--azulneon);
}

.caixa-solucoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--preto5);
}

.lista-icones {
  display: flex;
  flex-direction: row;
}

.caixa-solucoes img{
  width: 200px;
  height: auto;
}

.caixa-solucoes h1 {
  padding: 15px;
}

.coluna{
  display:flex;
  flex-direction: column;
  width: 23%;
  align-items: center;
  margin: 0 10px;
  padding: 10px 10px;
}

.coluna img {
  display: flex;
  align-self: center;
  background: var(--branco);
  border-radius: 45px;
  padding: 10px 15px;
  margin: 10px 0;
}

.botao-conhecer {
  text-decoration: none;
  font-weight: 600;
  padding: 7.5px 15px;
  border-radius: 10px;
  background: var(--azulneon);
  color: var(--branco);
}

.caixa-desenvolvedores {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--preto1);
}

.lista-desenvolvedores {
  display: flex;
  flex-direction: row;
}

.programador {
  display:flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  margin: 0 10px;
  padding: 10px 10px;
}

.programador img {
  width: 200px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .botao-header{
    display: block;
  }
  .barra-navegacao{
    position: absolute;
    flex-direction: column;
    top: 0;
    background-color: var(--preto5);
    height: 100%;
    width: 35vw;
    padding: 1em;
    animation-duration: 1s;
    margin-left: -100vw;
  }

  .lista-icones, .lista-desenvolvedores {
    flex-direction: column;
    padding: 60px 40px;
    align-items: center;
  }

  @keyframes aparecerSideBar {
    from {margin-left: -100vw;}
    top {margin-left: -10vw;}
  }

}