<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Consultoria em Sistemas">
    <meta name="author" content="MindTech">
    <meta name="keywords" content="Sistemas, Site, Consultoria, Desenvolvedores, Programação">
    <title>Home</title>
</head>
<body>

    <header>

       <ul>

        <li>
            <p>Logo</p>
            <a href="/">Home</a>
            <a href="/quemsomos">Quem Somos</a>
            <a href="/contato">Contato</a>
        </li>

       </ul>
        
    </header>

<main>

    <h1>SOMOS A 
        <br>
        <span>MINDTECH</span>
     </h1>

    <h3>conheça agora
        <br>
        nossas soluções criadas
        <br>
        para
        <br>
        <span>resolver TODOS
            <br>
            os seus PROBLEMAS
        </span>
    </h3>

    <p>nosso objetivo é potencializar seus resultados oferecendo ferramentas eficientes e todo o hardware necessário, além de uma equipe de suporte preparada para te ajudar nesse processo.</p>

</main>

    


    
</body>
</html>