<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Consultoria em Sistemas">
    <meta name="author" content="MindTech">
    <meta name="keywords" content="Sistemas, Site, Consultoria, Desenvolvedores, Programação">
    <link rel="stylesheet" href="../assets/reset.css">
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="shortcut icon" href="../assets/logo.png">
    <script src="../js/js.js"></script>
    <title>Home</title>
</head>
<body>
    <header id="#header">
        <div>
            <button onclick="mudarSideBar()" class="botao-header">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>
            </button>
        </div>
        <div class="imagem-logo">
            <img src="../assets/logo-principal.png" alt="Logo da empresa, imagem de um cérebro tecnológico.">
        </div>
        <div class="barra-navegacao" id="barra-navegacao">
            <button class="botao-header">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
            </button>
            <a href="/">Home</a>
            <a href="/quemsomos">Quem Somos</a>
            <a href="/contato">Contato</a>
        </div>
    </header>


<main id="conteudo">

    <h1>SOMOS A 
        <br>
        <span>MINDTECH</span>
     </h1>

    <h3>conheça agora
        <br>
        nossas soluções criadas
        <br>
        para
        <br>
        <span>resolver TODOS
            <br>
            os seus PROBLEMAS
        </span>
    </h3>

    <p>nosso objetivo é potencializar seus resultados oferecendo ferramentas eficientes e todo o software necessário, além de uma equipe de suporte preparada para te ajudar nesse processo.</p>

</main>

    


    
</body>
</html>