<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Consultoria em Sistemas">
    <meta name="author" content="MindTech">
    <meta name="keywords" content="Sistemas, Site, Consultoria, Desenvolvedores, Programação">
    <title>Home</title>
</head>
<body>

    <header>

       <ul>

        <li>
            <p>Logo</p>
            <a href="/">Home</a>
            <a href="/quemsomos">Quem Somos</a>
            <a href="/contato">Contato</a>
        </li>

       </ul>
        
    </header>

<main>

    <h1>QUEM É A 
        <br>
        <span>MINDTECH?</span>
     </h1>

    <h3>
        
        <span>Nosso trabalho é fazer o dia a dia das empresas muito mais fácil e prático,</span>
         empregando ferramentas que se adaptam a cada cliente, 
         analisamos desde criação e aperfeiçoamonto de websites, aplicações, softwares,
          e ajudamos a mesma a conseguir um melhor desempenho, seja nas vendas, controle de estoque,
           financeiro, cobranças entre outros.
    </h3>

    <p>nosso objetivo é potencializar seus resultados oferecendo ferramentas eficientes e todo o software necessário, além de uma equipe de suporte preparada para te ajudar nesse processo.</p>

</main>

    


    
</body>
</html>